resource "libvirt_volume" "%MONGLED%-qcow2" {
    name = "%REPLACEME%-qcow2"
    pool = libvirt_pool.tf_disks.name
    backing_store = {
  	    path = libvirt_volume.image_base.path
        format = {
            type = "qcow2"
        }
    }
    target = {
        format = {
            type = "qcow2"
        }
    }
    capacity = %GIGGLEBYTES%
    depends_on = [libvirt_volume.image_base]
    type = "file"
}

data "template_file" "user_data_%MONGLED%" {
  template = file("${path.module}/%REPLACEME%.cloud_init.cfg")
}

data "template_file" "network_config_%MONGLED%" {
  template = file("${path.module}/%REPLACEME%.network_config.cfg")
}

resource "libvirt_cloudinit_disk" "commoninit_%MONGLED%" {
  name           = "%MONGLED%_commoninit.iso"
  user_data      = data.template_file.user_data_%MONGLED%.rendered
  network_config = data.template_file.network_config_%MONGLED%.rendered
  meta_data      = yamlencode({
    instance-id = "%REPLACEME%"
    local-hostname = "%REPLACEME%"
  })
}

resource "libvirt_volume" "cloudinit_%MONGLED%" {
  name   = "cloudinit_%MONGLED%"
  pool   = libvirt_pool.tf_disks.name
  target = {
      format = {
        type = "iso"
      }
  }

  create = {
    content = {
      url = libvirt_cloudinit_disk.commoninit_%MONGLED%.path
    }
  }
}

resource "libvirt_domain" "%MONGLED%" {
	name   = "%REPLACEME%"
	memory = "4092"
	memory_unit   = "MiB"
	vcpu   = 2
	type   = "kvm"
	running = true
	autostart = true

	features = {
		acpi = true
		pae = true
	}

	os = {
		type = "hvm"
		arch = "x86_64"
		machine = "q35"
	}

    devices = {

		interfaces = [
			{
				type  = "network"
				model = {
                    type = "virtio"
                }
				source = {
					network = {
                        network = "default"
                    }
				}
				wait_for_ip = {
					source  = "lease"
					timeout = 300
				}
			},
			{
				type   = "bridge"
				model  = {
                    type = "virtio"
                }
				source = {
					bridge = {
                        bridge = "%BRIDGENAME%"
                    }
				}
			}
		]

		disks = [
		  {
			source = {
				pool = "tf_disks"
				volume = {
                    pool = "tf_disks"
                    volume = libvirt_volume.%MONGLED%-qcow2.name
                }
			}
			target = {
				dev = "vda"
				bus = "virtio"
			}
            driver = {
                name = "qemu"
                type = "qcow2"
            }
            boot = {
                order = 1
            }
			device = "disk"
		  }%EXTRADISKS%
		  {
			source = {
				file = {
                    file = libvirt_cloudinit_disk.commoninit_%MONGLED%.path
                }
			}
			target = {
				#XXX THIS BLOWS UP IF YOU SPECIFY 'cdrom' PROPERLY!!!
				dev = "sda"
				bus = "sata"
			}
            driver = {
                name = "qemu"
                type = "raw"
            }
            boot = {
                order = 2
            }
			device = "cdrom"
		  }
		]

		# IMPORTANT: this is a known bug on cloud images, since they expect a console
		# we need to pass it
		# https://bugs.launchpad.net/cloud-images/+bug/1573095
		consoles = [
			{
				type   = "pty"
				target = {
                    port = "0"
				    type = "serial"
                }
			},
			{
				type   = "pty"
				target = {
                    type = "virtio"
				    port = "1"
                }
			}
		]
		graphics = [
            {
                vnc = {
                    auto_port = true
                }
            }
        ]
		video = {
			type = "virtio"
		}
	}
}
