terraform {
    required_version = ">= 0.12"
    required_providers {
        libvirt = {
            source = "dmacvicar/libvirt"
            version = "0.9.1"
        }
    }
}

provider "libvirt" {
    uri = "qemu:///system"
}

%LIBVIRT_POOL_IMPORT%

resource "libvirt_pool" "tf_disks" {
    name = "tf_disks"
    type = "dir"
    target = {
        path = "/opt/terraform/disks"
    }
    lifecycle {
        prevent_destroy = true
    }
}

resource "libvirt_volume" "image_base" {
  name = "baseimage-qcow2"
  pool = libvirt_pool.tf_disks.name
  create = {
      content = {
          url = "%CLOUDIMG%"
      }
  }
  target = {
    format = {
        type = "qcow2"
    }
  }
  lifecycle {
      prevent_destroy = true
  }
  depends_on = [libvirt_pool.tf_disks]
}
