terraform {
  required_version = ">= 0.12"
  required_providers {
    libvirt = {
      source = "dmacvicar/libvirt"
    }
  }
}

provider "libvirt" {
  uri = "qemu:///system"
}

%LIBVIRT_POOL_IMPORT%

resource "libvirt_pool" "tf_disks" {
    name = "tf_disks"
    type = "dir"
    target {
        path = "/opt/terraform/disks"
    }
}

resource "libvirt_volume" "image_base" {
  name = "baseimage-qcow2"
  pool = libvirt_pool.tf_disks.name
  source = "%CLOUDIMG%"
  format = "qcow2"
  lifecycle {
    prevent_destroy = true
  }
  depends_on = [libvirt_pool.tf_disks]
}
