#!/bin/bash

# ATD script to actually do what we need to get set up

# Wait until clown-init is done
cloud-init status --wait

# Make sure mailing works
#echo "include(\`/etc/mail/tls/starttls.m4')dnl\n" >> /etc/mail/sendmail.mc
#echo "include(\`/etc/mail/tls/starttls.m4')dnl\n" >> /etc/mail/submit.mc
newaliases

# Transfer over the data
scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null %USER%\@%THISIP%:%THISDIR%/%DOMAIN%/data.tar.gz /tmp

cd /tmp
mkdir domainsetup_%DOMAIN%
tar -zxf data.tar.gz -C /tmp/domainsetup_%DOMAIN%

cd /tmp/domainsetup_%DOMAIN%

make -j8 2>&1 | tee /var/log/%DOMAIN%.setup.log
rm -rf /tmp/domainsetup_%DOMAIN%
