terraform {
  required_version = ">= 0.12"
  required_providers {
    libvirt = {
      source = "dmacvicar/libvirt"
    }
  }
}

provider "libvirt" {
  uri = "qemu:///system"
}

resource "libvirt_pool" "vms" {
    name = "vms"
    type = "dir"
    path = "/vms"
}

resource "libvirt_volume" "image_base" {
  name = "baseimage-qcow2"
  pool = libvirt_pool.vms.name
  source = "%CLOUDIMG%"
  format = "qcow2"
  lifecycle {
    prevent_destroy = true
  }
}
