[%# The jails of this domain, which its recipes declare.  See jails in
    Provisioner::Recipe.  mark_raw, because a failregex has a <HOST> in it,
    which the default escaping would turn into &lt;HOST&gt;. -%]
[% FOR name IN jails.keys().sort() -%]
[[% name %]]
enabled = true
[% FOR key IN jails.$name.keys().sort() -%]
[% IF key != 'enabled' -%]
[% key %] = [% jails.$name.$key | mark_raw %]
[% END -%]
[% END -%]

[% END -%]
