[% log_dir %]/*.log {
    rotate [% retain %]
    [% rotate %]
[% IF compress -%]
    compress
    delaycompress
[% END -%]
    missingok
    notifempty
    create 0640 root adm
    sharedscripts
[%# This tells rsyslog to reopen its files.  Without it, rsyslog continues to
    write to the renamed file. -%]
    postrotate
        /usr/lib/rsyslog/rsyslog-rotate
    endscript
}
