# OpenDMARC configuration
AuthservID mail.[% domain %]
TrustedAuthservIDs mail.[% domain %]

# XXX Do not change UMask or UserID.  With a chrooted postfix, only a 0777
# socket works, and only when opendmarc runs as the opendmarc user.
UMask 000
UserID opendmarc:postfix
PidFile /run/opendmarc/opendmarc.pid
Socket local:/var/spool/postfix/opendmarc/opendmarc.sock
AutoRestart true

RejectFailures true
FailureReports true
Syslog true
SyslogFacility mail
HistoryFile /var/log/opendmarc.log

FailureReportsSentBy postmaster@[% domain %]
FailureReportsBcc postmaster@[% domain %]

IgnoreHosts /etc/opendmarc/ignore.hosts

PublicSuffixList /usr/share/publicsuffix/effective_tld_names.dat
