[% FOREACH mount IN fuse %]
[Unit]
Description=Fuse Mount of [% mount.device %]
After=modprobe@fuse.service
Requires=modprobe@fuse.service

[Mount]
What=[% mount.device %]
Where=[% mount.mountpoint %]
Type=fuse.[% mount.type %]
Options=[% mount.options %]

[Install]
WantedBy=multi-user.target
--SEPARATOR--
[% END %]
