client
[%# The device has a name so that the recipe can wait on it.  enrich() in
    Provisioner::Recipe::openvpnclient says where the name comes from.  dev-type
    is explicit because openvpn otherwise infers it from the prefix. -%]
dev [% device %]
dev-type tun
proto [% proto %]

remote [% server %] [% port %]
resolv-retry 15
nobind

persist-key
persist-tun

ca   /etc/openvpn/client/[% domain %]/ca.crt
cert /etc/openvpn/client/[% domain %]/client.crt
key  /etc/openvpn/client/[% domain %]/client.key

tls-auth /etc/openvpn/client/[% domain %]/ta.key 1
tls-version-min 1.2

cipher [% cipher %]
auth SHA256

verb 3
log-append /var/log/openvpn/openvpn-client-[% domain %].log
