api=yes
api-key=[% api_key %]
# Inside the chroot, so /var/spool/powerdns/api.sock from the host, which is
# where synczones and the patched lexicon look for it.
webserver-address=/api.sock
webserver-hash-plaintext-credentials=yes
