mkdir -p [% install_dir %]/[% domain %]/[% basedir %]
mkdir -p /home/[% admin_user %]/bin
chown [% admin_user %]:[% admin_user %] /home/[% admin_user %]/bin
chown [% admin_user %]:[% admin_user %] [% install_dir %]/[% domain %]/[% basedir %]
[% IF admin_user != user %]
sudo -u [% admin_user %] ln -s [% install_dir %]/[% domain %]/[% basedir %] /home/[% admin_user %]/[% basedir %]
[% END %]
cp [% script_dir %]/repos_for /home/[% admin_user %]/bin/repos_for
[% FOR repo in repos_from %]
[% FOR entity in repo.repos_for %]
cd [% install_dir %]/[% domain %]/[% basedir %] && sudo -u [% admin_user %] /home/[% admin_user %]/bin/repos_for [% repo.api_url %] '[% repo.token %]' [% entity %]
[% END -%]
[% END -%]
[% IF modules.grep('perl').size() %]
[% script_dir %]/queue_postrun_task "[% script_dir %]/smoke_perl_modules.pl [% install_dir %]/[% domain %]/[% basedir %] /root/bin/cpanm"
[% END -%]
