mv ufw/* /etc/ufw/applications.d/
chmod 0644 /etc/ufw/applications.d/*
chown root:root /etc/ufw/applications.d/*
[% script_dir %]/queue_postrun_task systemctl restart ufw
[% script_dir %]/setup-ufw-rules
[% script_dir %]/setup-port-forwards [% FOR f IN port_forwards %] '[% f.from %]=[% f.to %]' [% END %]
# In the event this is an outgoing-only sendmail box, enable outbound 25
test -f /etc/mail/sendmail.conf && ufw allow out 25; /bin/true
