#!/usr/bin/env perl
use strict;
use warnings;
use Test::More;

ok(-f '/etc/cron.d/autoupdate', 'autoupdate cron exists');

# cron silently ignores a file in cron.d that is not owned by root or that
# the group can write.
my @st = stat '/etc/cron.d/autoupdate';
is(scalar getpwuid($st[4] // -1), 'root', 'and is owned by root');
is($st[2] & 022, 0, 'and is not group or world writable');

# The redirection must be one that dash understands.  See autoupdate.cron.tt.
my $text = do { local (@ARGV, $/) = '/etc/cron.d/autoupdate'; <> } // '';
# Leave out comment lines, because the comment in the file names &> itself.
my $commands = join "\n", grep { !m/^\s*#/ } split m/\n/, $text;
unlike($commands, qr/&>>?/, 'no &> redirection, which dash does not do');
like($text, qr{> ?/var/log/autoupdate\.log 2>&1}, 'output and errors both go to the log')
    or diag $text;

done_testing();
