#!/usr/bin/env perl
use strict;
use warnings;
use Test::More;

my $status = `systemctl is-active mariadb 2>/dev/null`;
chomp $status;
is($status, 'active', 'mariadb is running');
ok(-d '/opt/mysql', 'mysql data directory exists');

done_testing();
