#!/usr/bin/env perl
use strict;
use warnings;
use Test::More;

my $user = '[% user %]';
my $home = "/home/$user";

ok(-d "$home/.nvm", 'nvm directory exists');

# We are running as root, so we will use system node here (if it exists)
my $system_node = qx{which node};
my $user_node = qx{sudo -u $user /bin/bash -c which node};

isnt($user_node, $system_node, "User not configured to use system node, but nvm node");

done_testing();
