#!/usr/bin/env perl
use strict;
use warnings;
use Test::More;

my $user = '[% user %]';

# passwd, not /home/$user: a service user's home is the domain directory and the
# admin user's is under /home, and this recipe is used with both.  Guessing is
# how the recipe itself came to write its .bashrc lines somewhere nothing read
# them.
chomp(my $home = `getent passwd $user | cut -d: -f6`);
ok($home, "$user has a home directory") or BAIL_OUT("no home for $user");

ok(-d "$home/.nvm", 'nvm directory exists');

# We are running as root, so we will use system node here (if it exists)
my $system_node = qx{which node};
my $user_node = qx{sudo -u $user /bin/bash -c which node};

isnt($user_node, $system_node, "User not configured to use system node, but nvm node");

# .bashrc bails early when non-interactive, so -i is needed to get the nvm bits.
my $node_path = qx{sudo -u $user /bin/bash -ic 'echo \$NODE_PATH' 2>/dev/null};
my $npm_root  = qx{sudo -u $user /bin/bash -ic 'npm root -g' 2>/dev/null};
chomp( $node_path, $npm_root );

like( $node_path, qr{/lib/node_modules$}, 'NODE_PATH set to a global node_modules dir' );
ok( -d $node_path, "NODE_PATH ($node_path) exists" );
is( $node_path, $npm_root, 'NODE_PATH matches the active node install global module root' );

done_testing();
