#!/usr/bin/env perl
use strict;
use warnings;
use Test::More;

ok(-f '/usr/lib/systemd/system/[% domain %].service', 'systemd service unit exists');

my $status = `systemctl is-active [% domain %] 2>/dev/null`;
chomp $status;
is($status, 'active', 'tpsgi service is running');

# nginx proxies to this socket.  If the service runs without it, every request
# gets a 502.
my $sock = '[% install_dir %]/[% domain %]/run/tpsgi.sock';
ok(-S $sock, 'the application socket is there') or diag "no socket at $sock";

my $vhost = do { local (@ARGV, $/) = '/etc/nginx/sites-enabled/[% domain %].conf'; <> } // '';
like($vhost, qr{\Qserver unix:$sock\E}, 'and nginx has an upstream for it') or diag $vhost;

done_testing();
